{% extends "portfolio/partials/base.html" %}
{% load static %}

{% block content %}
  <!-- Hero Section -->
  {% include "portfolio/sections/hero.html" %}
  <!-- /Hero Section -->

  <!-- About Section -->
  {% include "portfolio/sections/about.html" %}
  <!-- /About Section -->

  <!-- Stats Section -->
  {% include "portfolio/sections/stats.html" %}
  <!-- /Stats Section -->

  <!-- Skills Section -->
  {% include "portfolio/sections/skills.html" %}
  <!-- /Skills Section -->

  <!-- Resume Section -->
  {% include "portfolio/sections/resume.html" %}
  <!-- /Resume Section -->

  <!-- Portfolio Section -->
  {% include "portfolio/sections/portfolio.html" %}
  <!-- /Portfolio Section -->

  <!-- Services Section -->
  {% include "portfolio/sections/services.html" %}
  <!-- /Services Section -->

  <!-- Testimonials Section -->
  {% include "portfolio/sections/testimonials.html" %}
  <!-- /Testimonials Section -->

  <!-- Contact Section -->
  {% include "portfolio/sections/contact.html" %}
  <!-- /Contact Section -->
{% endblock %}