{% load static %}
<!-- Stats Section -->
<section id="stats" class="stats section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-3 col-6 text-center">
        <div class="stats-item">
          <span class="purecounter" data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1">0</span>
          <p>Years Experience</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <div class="stats-item">
          <span class="purecounter" data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1">0</span>
          <p>Projects Completed</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <div class="stats-item">
          <span class="purecounter" data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1">0</span>
          <p>% Client Satisfaction</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <div class="stats-item">
          <span class="purecounter" data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1">0</span>
          <p>Awards Won</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Stats Section -->